body {
    background-image: url('/static/image/background.jpg');
    background-size: cover;
}

.text-wrapper {
  position: absolute;
  height: 28px;
  top: 10px;
  left: 146px;
  font-family: "Vollkorn SC-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

@keyframes aurora {
    0% {
        opacity: 0.8;
        background-position: 0% 0%;
    }
    100% {
        opacity: 1;
        background-position: 100% 100%;
    }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Изменено на обычный белый цвет фона */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h2 {
    color: #007bff;
    text-align: center;
}

a {
    color: #007bff;
    font-size: 16px;
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

a:hover {
    text-decoration: underline;
}

.text-box {
    margin-left: 44vw;
    margin-top: 42vh;
    animation: moveInBottom 1s ease-out; /* Добавлена анимация для текстового блока */
}

form {
    margin: 10px;
}

screen {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
