{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1>Мои продукты</h1>
<ul>
    {% for product in products %}
        <li>
            {{ product.name }} - {{ product.validuntil }}
            <form method="post" action="{{ url_for('delete_product', product_id=product.id) }}" style="display:inline;">
                <input type="submit" value="удалить">
            </form>
        </li>
    {% endfor %}
</ul>
    <form method="post" action="{{ url_for('myprod') }}">
        <label for="name">Название продукта:</label>
        <input type="text" id="name" name="name" required>
        <br>
        <label for="validuntil">Годен до:</label>
        <input type="date" id="validuntil" name="validuntil" required>
        <br>
        <button type="submit">Добавить продукты</button>
    </form>
    <br>
    <a href="{{ url_for('index') }}">Назад</a>
</div>
</body>
</html>

{% endblock %}