{% extends 'base.html' %}
{% block content %}

<link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">


<div class="container mt-5">
    <h2>Регистрация</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-{{ messages[0].split(' ')[0] }}" role="alert">
          {{ messages[0] }}
        </div>
      {% endif %}
    {% endwith %}

    <form method="post">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.username.label }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm_password.label }}
            {{ form.confirm_password(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.role.label }}
            {{ form.role(class="form-control") }}
        </div>
        {{ form.submit(class="btn btn-primary") }}
        <a href="{{ url_for('Login') }}">у меня есть аккаунт</a>
    </form>


</div>

{% endblock %}